*{
	font-family:Inter,-apple-system,Helvetica,Arial,sans-serif;	
}
body{
overflow-y:scroll;
}
.header{
	height:56px;
        background:#2874f0;
}
.spaceDiv{
        height:100%;
        min-width:124px;
}
.cartImageDiv{
        min-width:137px;
}
.imageDiv{
	line-height:1.4;
}
.exploreLink{
	font-size:11px;
}
.plusLink{
 	color:#ffe500;      
}
.searchDiv{
        min-width:304px;
        width:100%;
}
.searchBarDiv{
        width:100%;
        height:36px;
}
.searchBar{
	width:100%;
        height:36px;
        font-size:14px;
}
.searchButton{
	height:36px;
}
.loginDiv{
	width:100%;
        max-width:150px;
}
.loginButton{
	width:122px;
        height:30px;
}
.loginLink,.sellerLink,.moreLink,.cartLink,.myAccount{
	font-weight:bold;
}
.sellerDiv{                  
        min-width:140px;                 
}
.moreDiv{
        mix-width:60px;	
}
.cartDiv{
	min-width:80px;
}
.itemsList{
        width:100%;
        height:40px;
	max-width:1248px;
}
.itemsDiv{
	height:40px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
}
.items{
	font-size: 13px;
        font-weight: bold; 
}
.footerFont{
	color:white;
        text-decoration:none;
        font-size:12px;
        font-weight:bold;
}
.footerHead{
	color:#878787;
        font-size:12px;
}
.footerPara{
	color:white;
        font-size:12px;
        margin:0px;
        line-height:19px;
}
.baseLink{
	color:white;
        text-decoration:none;
        font-size:12px;
}
.footerBase{
	border-top: 1px solid #454d5e;
}
.mailDiv{
        border-left: 1px solid #454d5e;
}
.footerImg{
	width:377px;
        height:24px;
}
.footerColOne{
	
}
.footerColTwo{
}


<!-- login-->


.loginBody{
        min-height:350px;
}
.loginImgdiv{
	width:40%;
        padding:40px 33px;
        background:#2874f0;
}
.loginRight{
        width:60%;
        padding: 56px 35px 16px;
}
.loginContent{
        max-width:840px;
	height:528px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.16);
}
.loginSpan{
	font-size: 28px;
        font-weight:bold;
}
.loginPara{
	font-size: 18px;
    	margin-top: 16px;
        line-height: 150%;
}
.loginInputdiv{
	margin-bottom: 34px;
        border-bottom: 1px solid rgba(0,0,0,.16);
}
.loginInput{
        padding: 8px 10px 10px 0;
	font-size:16px;
        color:#878787;
}
input:focus{
	outline:none;
}
.policySpan{
	font-size:12px;
        color:#878787;
}
.otpButton{
	background:#fb641b;
        height:48px;
        font-size:15px;
        border-radius: 2px;
        font-weight:bold;
}
.buttonDiv{
	margin-top:16px;
}
.createLink{
	font-weight:bold;
        font-size:14px;
}
.existingUser{
        font-weight:bold;
        font-size:14px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}





.helpSpan{
         color:white;
         font-size:15px;
         font-weight:bold;
}
.helpCenterdiv{
        width:100%;
        height:25px;
        border-left: 1px solid white;
}
.careDiv{
	padding: 14px 83px 0;
        border-bottom: 1px solid rgba(0,0,0,.16);
}
.careHead{
	font-size:17.5px;
}
.careParadiv{
	line-height: 1.45;
        font-size: 12px;
        color:#878787;
        margin-top:8px;
}
.topicHeaddiv{
	margin-top:18px;
        margin-bottom: 14px;
}
.topicHead{ 
        font-size:12px;
	padding: 22px 16px 0 32px;
        font-weight:bold;
}
.topicLinkdiv{
	padding: 13px 48px;
        font-size:14px;
}
.helpTopicsdiv{
	width: 25%;
        max-height: 545px;
        overflow-y: auto;
        overflow-x: hidden;
}
.issuesDiv{
	width:73%;        
}
.issueHelpdiv{
        font-size:12px;
        color:#878787;
        padding: 16px 19px;
	background-color: #fff;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.30);
}
.issueProducts{
	padding-left:16px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.30);
}
.issueHead{ 
       padding-left:24px;
       font-size:18px;
}
.issueHead{
       margin-top:5px;
       padding-top:16px;
       padding-bottom:8px;
}
.issueItemdiv{
	padding-left:36px;
        padding-top:16px;
        padding-bottom:16px;
}
.productDetaildiv{
        margin-left:35px;
	width:68%; 
}
.productName{
	font-size:13.5px;
}
.status{
	font-size:13.5px;
        color:#878787;
}
.issueView{
	font-size:13px;
}
.manageIssuediv{
	padding: 16px 24px;
}
.manageTop{
	font-size:15px;
}
.manageBottom{
	font-size:13px;
	color:#878787;
        margin-top:4px;
}
.issueFacingdiv{
	 box-shadow: 0 2px 4px 0 rgba(0,0,0,.30);
}
.postalAddress,.solutionHead{
        color:#878787;
	font-size:12px;
        font-weight:bold;
}
.addressLink{
	font-size:12px;
        font-weight:bold;
}
.solutionPara,.relatedPages{
	color:#878787;
	font-size:12px;
}
